@{
    ViewData["Title"] = "Kurzusaim";
}
@using GeekPlatform.ViewModels.Kurzusaim;

<div class="row">
    <div class="col-md-12">
        <div class="my-courses-text">Kurzusaim</div>
    </div>
</div>

@foreach (KurzusViewModel aktivKurzus in Model.AktivKurzusok)
{
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default panel-course panel-active-course">
                <a asp-controller="KurzusAdatok" asp-action="Aktiv" asp-route-id="@aktivKurzus.Id">
                    <div class="panel-heading panel-course-header panel-active-course-header">
                        <span class="active-course-header-text">@aktivKurzus.Nev</span>
                        <i class="material-icons md-36">school</i>
                    </div>
                </a>
                <div class="panel-body panel-course-body panel-active-course-body">
                    <div class="row">
                        <div class="col-xs-5 panel-course-col panel-course-col-right-border">
                            <div class="panel-course-col-header">Aktuális</div>
                            @if (aktivKurzus.AktualisTematika != null)
                            {

                                <div class="panel-course-col-text">@aktivKurzus.AktualisTematika.Temakor</div>
                            }
                            else
                            {
                                <div class="panel-course-col-text">Nem elérhető</div>
                            }
                        </div>
                        <div class="col-xs-5 panel-course-col panel-course-col-right-border">
                            <div class="panel-course-col-header">Következő óra</div>
                            @if (aktivKurzus.KovetkezoTematika != null)
                            {
                                <div class="panel-course-col-text">@aktivKurzus.KovetkezoTematika.Temakor</div>
                                <div class="panel-course-col-next-class">@aktivKurzus.KovetkezoTematika.Datum</div>

                            }
                            else
                            {

                                <div class="panel-course-col-text">Nem elérhető</div>
                                <div class="panel-course-col-next-class"></div>
                            }
                        </div>
                        <div class="col-xs-2 panel-course-col panel-course-col-no-border">
                            <i class="material-icons md-36 icon-blue"><a asp-controller="KurzusAdatok" asp-action="Aktiv" asp-route-id="@aktivKurzus.Id">home</a></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@foreach (KurzusViewModel passzivKurzus in Model.PasszivKurzusok)
{
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default panel-course panel-completed-course">
                <a asp-controller="KurzusAdatok" asp-action="Passziv" asp-route-id="@passzivKurzus.Id">
                    <div class="panel-heading panel-course-header panel-completed-course-header">
                        <span class="completed-course-header-text">@passzivKurzus.Nev</span>

                        <i class="material-icons md-36">done</i>
                    </div>
                </a>
                <div class="panel-body panel-course-body panel-completed-course-body">
                    @passzivKurzus.Leiras
                </div>
            </div>
        </div>
    </div>
}
