@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using GeekPlatform.ViewModels.Jelentkezes;
@model JelentkezesViewModel

@if (Model.Enrolled)
{
    <div class="alert alert-success" role="alert">Sikeres jelentkezés</div>
}

@foreach (CourseViewModel i in Model.Courses)
{
    <div class="row doboz">
        @if (i.IsWorkshop)
        {
            <div class="row workshopcim"><h4>@i.CourseName</h4></div>
            <div class="row workshopoktato"><span>@i.Instructor</span></div>
        }
        else
        {
            <div class="row aktivcim"><h4>@i.CourseName</h4></div>
            <div class="row aktivoktato"><span>@i.Instructor</span></div>
        }        
        
        <div class="row">
            <div class="col-md-2 kozep"><img class="kiskep" src="@i.ImgUrl"></div>
            <div class="col-md-8 szoveg"><p>@i.Description</p></div>
            <div class="col-md-2 kozep">
                @if (i.IsEnrolled)
                {
                    <button class="btn-lg jelentkezz btn disabled" disabled>Már jelentkeztél</button>

                }
                else
                {
             
                    <a asp-controller="Jelentkezes" asp-action="Jelentkezes" asp-route-id="@i.CourseId" class="btn btn-lg jelentkezz" >Jelentkezés</a>
                }

            </div>
        </div>
    </div>
}
   