@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using GeekPlatform.ViewModels.Profil;
@model ProfilViewModel

<div class="row">
    <div class="col-md-5">
        <div class="panel panel-profile">
            <div class="panel-body">
                <div class="profile-pic-big"><i class="fa fa-user-circle-o"></i></div>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="panel panel-profile">
            <div class="panel-heading">Általános adatok</div>
            <div class="panel-body">
                <h3 style="margin-top: 0px;">@Model.Nev</h3>
                <h4><em>@Model.PozicioTeamTagsag</em></h4>
                <hr>
                <div class="row">
                    <div class="col-xs-4">
                        <p>@Model.TagsagKezdete:</p>
                        <p>@Model.TagsagVege:</p>
                        <p>@Model.Munkahely:</p>
                    </div>
                    <div class="col-xs-8">
                        <p>Teszt szöveg, ami elég hosszú</p>
                        <p>Teszt szöveg, ami elég hosszú</p>
                        <p>Teszt szöveg, ami elég hosszú</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="icon-group">
                            <i class="fa fa-envelope-o"></i>
                            <p>@Model.Email</p>
                        </div>
                        <div class="icon-group">
                            <i class="fa fa-slack"></i>
                            <p>@Model.Slack</p>
                        </div>
                        <div class="icon-group">
                            <i class="fa fa-map-marker"></i>
                            <p>@Model.TartozkodasiHely</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="icon-group">
                            <i class="fa fa-gift"></i>
                            <p>@Model.Ajandek</p>
                        </div>
                        <div class="icon-group">
                            <i class="fa fa-mobile-phone"></i>
                            <p>@Model.Telefonszam</p>
                        </div>
                        <div class="icon-group">
                            <i class="fa fa-skype"></i>
                            <p>@Model.Skype</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <div class="panel panel-profile">
            <div class="panel-heading">Kurzusok</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6">
                        <h4>@Model.Aktiv:</h4>
                    </div>
                    <div class="col-xs-6">
                        <p><i class="fa fa-3x fa-book"></i> <i class="fa fa-3x fa-book"></i></p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-xs-12">
                        <h4>@Model.ElvegezettKurzus:</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 course-block">
                        <p><i class="fa fa-3x fa-book"></i> <i class="fa fa-3x fa-book"></i> <i class="fa fa-3x fa-book"></i> <i class="fa fa-3x fa-book"></i> <i class="fa fa-3x fa-book"></i> <i class="fa fa-3x fa-book"></i> <i class="fa fa-3x fa-book"></i> <i class="fa fa-3x fa-book"></i></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="panel panel-profile">
            <div class="panel-heading">Skillek</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4">
                        <h4>Grafika:</h4>
                        <h4>UX design:</h4>
                        <h4>Webfejlesztés:</h4>
                        <h4>Még valami:</h4>
                    </div>
                    <div class="col-xs-8">
                        <h4><i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle-o"></i> <i class="fa fa-circle-o"></i> <i class="fa fa-circle-o"></i> <i class="fa fa-circle-o"></i> <i class="fa fa-circle-o"></i></h4>
                        <h4><i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle-o"></i> <i class="fa fa-circle-o"></i> <i class="fa fa-circle-o"></i> <i class="fa fa-circle-o"></i></h4>
                        <h4><i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle-o"></i> <i class="fa fa-circle-o"></i> <i class="fa fa-circle-o"></i> <i class="fa fa-circle-o"></i> <i class="fa fa-circle-o"></i> <i class="fa fa-circle-o"></i> <i class="fa fa-circle-o"></i></h4>
                        <h4><i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle-o"></i> <i class="fa fa-circle-o"></i> <i class="fa fa-circle-o"></i> <i class="fa fa-circle-o"></i> <i class="fa fa-circle-o"></i> <i class="fa fa-circle-o"></i></h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <hr>
                        <h4><em>Egyéb dolgok felsorolása</em></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
